{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.name }}</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.name }}">
    <h5 class="card-title">{{ listing.name }}</h5>
    <p class="card-text">{{ listing.description }}</p>
    <p class="card-text">{{ listing.price }}$</p>

    <div class="form_item">
        <form method="POST" action="{% url 'listings' listing.id %}">
            {% csrf_token %}
            <input type="submit" name="watchlist" value="{{button}}">
        </form>
    </div>

    <div class="form_item">
        <form method="POST" action="{% url 'listings' listing.id %}">
            {% csrf_token %}
            <input type="number" name="bid_amount">
            <input type="submit" name="bid" value="Place bid">
        </form>
    </div>

{% endblock %}